table, td, th {
    border: 2px solid;
  }
  
  th {
    background-color: rgb(78, 202, 62);
  }
  
  table {
    width: 50%;
  }
  button[type="submit"] {
    background-color: #4CAF50; /* Color verde */
    color: white;
  }
    
  
  .success{
    background-color: lightpink;
  }

  .error{
    background-color: red;
  }

  #total {
    background-color: rgb(189, 164, 21);
  }

  .td_buttons {
    align-content: center;
  } 

  .button {
    width: 30px;
    height: 30px;
  }
